/* /Pages/Index.razor.rz.scp.css */
h1[b-cncagxxkdt], h2[b-cncagxxkdt] {
    color: white;
    text-shadow: black 0px 0px 10px;
    display: flex;
    justify-content: center;
}

h1[b-cncagxxkdt] {
    font-size: 70px;
    text-align: center;
}
/* /Pages/World.razor.rz.scp.css */
.fade-in-out[b-kuftontidn] {
    animation: fade-in-out-b-kuftontidn 5s;
}

.fade-in-out-8s[b-kuftontidn] {
    animation: fade-in-out-b-kuftontidn 8s;
}


@keyframes fade-in-out-b-kuftontidn {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}
/* /Shared/MainLayout.razor.rz.scp.css */
